.container {
    max-width: 1220px;
    margin: 0 auto;
    height: calc(100vh - 100px);
    padding: 20px;
}

.lesson-title {
    height: 70px;

    h3 {
        font-weight: 600;
    }
}

.lesson-content {
    padding: 55px;
    user-select: none;

    p {
        font-size: 26px;
        margin-bottom: 5rem;
    }

    &-letters {
        font-size: 110px;
        cursor: pointer;
        transition: all .5s;

        @media (max-width: 500px) {
            font-size: 80px;
        }
    }
}

.clicked {
    color: rgb(22, 174, 30);
    display: inline-block;
    transform: scale(1.2);
}

.wrong-letter {
    display: inline-block;
    animation: rotate 1s ease-in-out;
}

::ng-deep .p-progressbar-value {
    background: #38c135 !important;
}
::ng-deep .p-progressbar {
    width: 100%;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    33% {
      transform: rotate(30deg);
      color: rgb(239, 63, 63);
    }
    66% {
        transform: rotate(-30deg);
        color: red;
    }
    100% {
      transform: rotate(0deg);
      color: black;
    }
  }