.container {
    max-width: 1220px;
    margin: 0 auto;
    height: calc(100vh - 58px);
}

.lesson-title {
    height: 70px;

    h3 {
        font-weight: 600;
    }
}

.lesson-content {
    padding: 55px;
    user-select: none;

    p {
        font-size: 30px;
        margin-bottom: 5rem;
    }

    &-letters {
        font-size: 110px;
        cursor: pointer;
        transition: all .5s;

        @media (max-width: 500px) {
            font-size: 80px;
        }
    }
}

.clicked {
    display: inline-block;
    animation: success .5s ease-in-out;
    color: rgb(22, 174, 30);
}

.wrong-letter {
    display: inline-block;
    animation: error 1s ease-in-out;
}

.tip {
    display: inline-block;
    animation: showTip .8s ease-in-out;
}

::ng-deep .p-progressbar-value {
    background: #38c135 !important;
}

::ng-deep .p-progressbar {
    width: 100%;
}

@keyframes success {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(5) translate(0, -20px);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes error {
    0% {
        transform: rotate(0);
    }

    33% {
        transform: rotate(30deg);
        color: red;
    }

    66% {
        transform: rotate(-30deg);
        color: red;
    }

    100% {
        transform: rotate(0deg);
        color: red;
    }
}

@keyframes showTip {
    0% {
        transform: translate(0);
    }

    33% {
        transform: translate(0, -50%) rotate(10deg);
    }

    66% {
        transform: rotate(-10deg);
    }

    100% {
        transform: translate(0);
    }
}